<h1>User <%= current_user.first_name %></h1>


<div class="content-wrapper">

<form id="searchForm" class="" action="users/show" >

  <input type="radio" name="search-status" value="APPLIED" checked> Applied<br>
  <input type="radio" name="search-status" value="MOOTED"> Mooted<br>
  <input type="radio" name="search-status" value="ABANDONED"> Abandoned <br>
  <input type="radio" name="search-status" value="COMPLETED"> Completed <br>
  <input type="radio" name="search-status" value="APPROVED"> Approved <br>
  <input type="radio" name="search-status" value="UNDER CONSTRUCTION"> Under Construction <br>


  <input type="text" class="search-input">
  <input type="button" class="search-btn" value="Search">
</form>

<div class="wrapper">
</div>


<script id="property_template" type="text/x-handlebars-template">

<div class="property" data-id="{{ development_key }}">
  <div class="field">
    <span>Address: </span>{{street_address}}
    <span class="star">&#9733;</span>
  </div>

  <div class="field">
    <span>Status: </span>{{ status }}
  </div>

  {{#if resi_dwelling}}
    <div class="field">
      <span>Residential Dwellings: </span>{{ resi_dwelling }}
    </div>

    {{else}}
    {{/if}}

    {{#if one_bdrm_dwe}}
      <div class="field">
        <span>No of 1 Bedrooms: </span>{{ one_bdrm_dwe }}
      </div>

      {{else}}
      {{/if}}

    {{#if two_bdrm_dwe}}
      <div class="field">
        <span>No of 2 Bedrooms: </span>{{ two_bdrm_dwe }}
      </div>

      {{else}}
      {{/if}}

  {{#if town_planning_application_no}}
    <div class="field">
      <span>Planning Number: </span>{{ town_planning_application_no }}
    </div>

    {{else}}
    {{/if}}

</div>
</script>

</div>
