
<nav >
  <ul class="nav-li">
    <a href="" ><img src="logo.png" alt="" id="logo"></a>
    <a href="#" class="nav-li-item">Home</a>
    <a href="#" class="nav-li-item">About</a>
    <button class="login-btn" >login</button>
  </ul>
</nav>


<div class="hero">
  <div class="hero-left">
    <h1 class="title">Chattel</h1>
    <h3>Melbourne's leading resource for property development</h3>
  </div>
  <div class="signup-container">
    <div class="signup-box">
      <form action="">
        <h3>Sign up today</h3>
        <input type="text" placeholder="Firstname" name="firstname" class="signup-input">
        <input type="test" placeholder="Lastname" name="lastname" class="signup-input">
        <input type="email" placeholder= "Email" name="email" class="signup-input1">
        <input type="password" placeholder="set passcode" name="password" class="signup-input1">
      </form>
      <hr class="spliter">
      <button class="facebook-login-btn"><b class="sn-logo">f</b> sign up with Facebook</button>
      <button class="google-login-btn"><img src="google_icon.png" alt="" class="sn-logo2"> sign up with Google</button>
    </div>
  </div>
</div>

<div class="slide">
  <img src="ba-img.png" alt="" class="ba-img">
</div>
