
<nav class="home-menu pure-menu pure-menu-horizontal pure-menu-scrollable">
  <a href="" ><img src="logo.png" alt="" id="logo"></a>
  <ul class="pure-menu-list">
    <div class="pure-menu-item"><a href="" class="pure-menu-link">Home</a></div>
    <div class="pure-menu-item"><a href="" class="pure-menu-link">About</a></div>
    <button class="login-btn">login</button>
  </ul>
</nav>


<div class="hero">
  <h1>Chattels</h1>
  <h3>Melbourne's leading resource for property development</h3>

  <div class="signup-box">
    <form action="">
      <h3>Sign up today</h3>
      <input type="text" placeholder="Firstname" name="firstname" class="signup-input">
      <input type="test" placeholder="lastname" name="lastname" class="signup-input">
      <input type="email" placeholder= "Email" name="email" class="signup-input">
      <input type="password" placeholder="set passcode" name="password" class="signup-input">
    </form>
    <button class="facebook-login-btn">Sign up with Facebook</button>
    <button class="google-login-btn">Sign up with Google</button>
  </div>

</div>
