#logo{
  width: 100px;
}

.signup-box{

  max-width: 380px;
  text-align: center;
  padding: 5px;
  border-radius: 19px;
}

.signup-container{
  display: flex;
  justify-content: center;
}

.signup-input, .facebook-login-btn, .google-login-btn{
  margin: 5px;
}

.login-btn{
  background-color: white;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 50px;
  color: grey;
  float: right;
  margin: 41px 37px 0 0;
  text-decoration: none;
  text-align: center;
}

.nav-li-item{
  text-decoration: none;
  color: #7f8c8d;
  display: inline;
  padding: 0 10px 0 10px;
  justify-content: flex-start;
}


.nav-li{
  display: inline-flex;
  align-items: center;
  padding-left: 0;
  margin: 0;
}


.login-btn:hover, .nav-li-item:hover{
  color: #34495e;
}

.hero{
  background-image: image-url("hero-img.jpg");
  background-size: cover;
  min-height: 538px;
  font-family: 'Catamaran', sans-serif;
  padding: 10px;
  color: white;
}

.hero-left{
  max-width: 300px;
  margin: 0;
}

.signup-input{
  height: 33px;
  width: 132px;
  border: none;
  border-radius: 5px;
  padding-left: 8px;
  outline: thin;
  color: black;
  transition: 0.5s;
}

.signup-input1{
  height: 33px;
  width: 284px;
  border: none;
  border-radius: 5px;
  padding-left: 8px;
  outline: thin;
  margin-top: 15px;
  color: black;
  transition: 1s;
}

.signup-input1:focus, .signup-input:focus{
  border-bottom: 1px solid grey;
}

.sn-logo{
  font-size: 20px;
  padding: 10px;
}

.facebook-login-btn{
  background-color: #3B5998;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
  width:288px;
}

.spliter{
  width: 200px;
  border: 0.1px solid;
  height: 0.1px;
}

.google-login-btn{
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 288px;
  color: black;
}

.sn-logo2{
  width:17px;
  padding-right: 12px;
}

.title{
  margin:  0 -19.33px 0 0;
}

.slide{
  background-color: rgb(37,175,190);
  background-size: contain;
  min-height: 500px;
  text-align: center;
}

h3{
  margin: 0px;
}

.ba-img{
  padding-top: 25px;
  max-width: 500px;
  border: none;

}

.signup-btn{
  background-color: rgba(255,255,255,0.3);
  border: none;
  margin: 5px;
  color: #ecf0f1;
  border-radius: 8px;
  width: 80px;
  height: 30px;
}

.signup-btn:active, .signup-btn:hover{
  background-color: #ecf0f1;
  color: black;
}

.info-updt > h1{
  display: inline-flex;
  justify-content: flex-end;
  color: white;
  font-family: 'Catamaran', sans-serif;
}

.typewrite{
  text-decoration-color: rgba(255,255,255,0.4);
  color: white;
}

.login-pg{
  min-height: 1000px;
  background: #00c6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
}

.login-container{
  font-family: 'Catamaran', sans-serif;
  text-align: center;
  padding: 5px;
  height: 430px;
  width: 283px;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 6px;
  margin-top: 60px;
  color: white;
}

.login-input1, .login-input2{
  margin-bottom: 10px;
  background-color: rgba(0,0,0,0.2);
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 228px;
  color: white;
  padding-left: 8px;
}

.login-input1::-webkit-input-placeholder {
  color: rgba(255,255,255,0.8);
  background-image: url('User-96.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.login-input2::-webkit-input-placeholder {
  color: rgba(255,255,255,0.8);
  background-image: url('Password-96.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.login-p-btn{
  width: 228px;
  height: 36px;
  margin-top: 50px;
  border: none;
  background-color: white;
  color: #0072ff;
  border-radius: 5px;
  font-weight: bold;
}

.login-img{
  width: 70px;
  margin-top: -39px;
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 100%;
}

.login-p-btn:hover{
  background-color: #0072ff;
  color: white;
}
.login-p-btn:active{
  background-color: #3498db;
}

.back-btn{
  margin-top: 520px;
  color: white;
}

.star{
  cursor: pointer;
}
