.content-wrapper{
  font-family: 'Catamaran', sans-serif;

  color: white;
}

.dash-background{
  background-color: rgba(44, 62, 80,1.0);
  height: 500px;
  height: 600px;
  padding-top: 30px;
}

#logo-login,.logout-btn{
  display: inline;
}

.logout-btn{
  float: right;
  margin: 30px;
  margin-right: 80px;
  background-color: white;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 50px;
  color: grey;
}

.logout-btn:hover{
  color: #34495e;
}


#searchForm{
  font-family: 'Catamaran', sans-serif;
  max-width: 220px;
  padding: 10px;
  border-radius: 3px;
  background-color: rgba(52, 152, 219,1.0);
  box-shadow: 5px 5px 3px #888888;
  margin-right: 60px;
}

#searchForm > input {
  margin: 10px;
}

#profile-content{
  margin: 17px;
  max-width: 220px;
  background-color: rgba(46, 204, 113,1.0);
  box-shadow: 5px 5px 3px #888888;
  max-height: 183px;
  border-radius: 9px;

}

.profile-item{
  display: flex;
  justify-content: flex-start;
  color: white;
}


#search-bar {
  justify-content: center;

}

.search-input{
  height: 35px;
  min-width: 260px;
  border: none;
  color: black;
  padding-left: 7px;
  background-color: rgba(255,255,255,0.3);
  box-shadow: 3px 3px 2px #888888;
  margin-right: 3px;
  transition: 0.3s;
  border-radius: 3px;
  outline-width: 1px;
}

.search-input:focus{
  background-color: rgba(255,255,255,0.7);
  outline-width: 1px;
}

.results-input{
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.search-btn{
  border: none;
  background-color: Transparent;
  margin-top: 5px;
  outline-width: 1px;
  outline-color: rgba(255, 255, 255,0.1);
}

.search-btn:hover{
  color: rgba(149, 165, 166,1.0);
}

.pf1:hover{
  background-color: white;
}

#profile-pic{
  justify-content: center;
  margin-top:-19px;
  max-width: 45px;
}
