.content-wrapper{
  font-family: 'Catamaran', sans-serif;

  color: white;
}

.dash-background{
  background-color: rgba(44, 62, 80,1.0);
  height: 700px;
  height: inherit;
  padding-top: 30px;
}

#logo-login,.logout-btn{
  display: inline;
  outline-width: 0px;
}

.logout-btn{
  float: right;
  margin: 30px;
  margin-right: 80px;
  background-color: white;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 50px;
  color: grey;
}

.logout-btn:hover{
  color: #34495e;
}


#searchForm{
  font-family: 'Catamaran', sans-serif;
  max-width: 220px;
  padding: 10px;
  border-radius: 3px;
  background-color: rgba(52, 152, 219,1.0);
  box-shadow: 5px 5px 3px #888888;
  margin-right: 60px;
}

#searchForm > input {
  margin: 10px;
}

#profile-content{
  margin: 17px;
  max-width: 220px;
  background-color: rgba(46, 204, 113,1.0);
  box-shadow: 5px 5px 3px #888888;
  max-height: 183px;
  border-radius: 9px;

}

.profile-item{
  display: flex;
  justify-content: flex-start;
  color: white;
}


#search-bar {
  justify-content: center;
  height: 50px;
}

.search-input{
  height: 35px;
  min-width: 260px;
  border: none;
  color: black;
  padding-left: 7px;
  background-color: rgba(255,255,255,0.3);
  box-shadow: 3px 3px 2px #888888;
  margin-right: 3px;
  transition: 0.3s;
  border-radius: 3px;
  outline-width: 1px;
}

.search-input:focus{
  background-color: rgba(255,255,255,0.7);
  outline-width: 1px;
}

.results-input{
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.search-btn{
  border: none;
  background-color: Transparent;
  margin-top: 5px;
  outline-width: 1px;
  outline-color: rgba(255, 255, 255,0.1);
}

.search-btn:hover{
  color: rgba(149, 165, 166,1.0);
}

.pf1:hover{
  background-color: white;
}

#profile-pic{
  justify-content: center;
  margin-top:-19px;
  max-width: 45px;
}

.property {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

.wrapper {
  max-width: 372px;
  margin: 0 auto;
  margin-top: -439px;
}

.map-styling{
  display: flex;
  justify-content: center;
}

#map{
  width: 500px;
  height: 430px;
  margin-top: -250px;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch .toggle-input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle-input:checked + .slider {
  background-color: #e67e22;
}

.toggle-input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.toggle-input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle{
  width: 150px;
  display: inline-flex;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
  margin-left: 35px;
}

.save{
  visibility: hidden;
}
